<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.novacode.myservices">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".pages.specifications.ServiceUpdate"
            android:exported="false" />
        <activity
            android:name=".pages.specifications.ServiceList"
            android:exported="false" />
        <activity
            android:name=".pages.specifications.ServiceInfo"
            android:exported="false" />
        <activity
            android:name=".pages.dashboard.DashBoard"
            android:exported="false" />
        <activity
            android:name=".pages.recovery.NewPassword"
            android:exported="false" />
        <activity
            android:name=".pages.recovery.CodeValidator"
            android:exported="false" />
        <activity
            android:name=".pages.signup.SignUpSellerBusiness"
            android:exported="false" />
        <activity
            android:name=".pages.signup.SignUpSeller"
            android:exported="false" />
        <activity
            android:name=".pages.signup.SignUpClient"
            android:exported="false" />
        <activity
            android:name=".pages.recovery.PasswordRecovery"
            android:exported="false" />
        <activity
            android:name=".pages.signup.SignUp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>